
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tab2-bar {
  -moz-appearance: textfield;
  border-bottom: 1px solid threedshadow;
}

.tab2 {
  /* -moz-appearance: statusbar; */
  -moz-appearance: none;
  min-width: 150px;
  max-width: 200px;
  overflow: hidden; /* Chops end of label */
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #999999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px 12px;
  -moz-border-radius-topright: 10px 12px;
  background: -moz-linear-gradient(top, rgba(170,170,170,255), rgba(240,240,240,255));
  color: #222222;
  height: 23px;
}

.tab2:hover {
  background: -moz-linear-gradient(top, rgba(240,240,240,255), rgba(240,240,240,255));
}

.tab2[selected="true"] {
  /* -moz-appearance: toolbar; */
  background: -moz-linear-gradient(top, rgba(255,255,255,255), rgba(255,255,255,255));
  color: black;
}

.tab2-label {
  margin-left: 4px;
  font-family: Verdana;
  font-size: 12px;
}

.tab2-index {
  font: 500 15px Menlo;
  text-align: center;
  color: blue;
  max-width: 30px;
  margin: 0px 0px 3px 0px;
}

.tab2-icon  {
  width: 16px;
  height: 16px;
  /* -moz-margin-start: 4px; */
  /* -moz-margin-end: 3px; */
  margin: 3px 0px 3px 10px;
}
